.installation{
    padding: 40px 0 64px;
}

.installationBox{
    border-radius: 11px;
    background-color: rgba(239, 240, 240, 0.5);
    padding: 20px 30px 22px;
}

/*.carColumn{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.installationLinksAll{
    display: flex;
    flex-direction: column
}


.installationCars{
    display: flex;
    gap: 30px;
}