.header-top-color{
    background-color: #EFF0F0;
}

.header-inner{
    padding: 13px 0 15px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-top-location-desc,
.header-top-clock-desc,
.header-top-whatsupp-desc{
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.header-top-location-desc{
    position: relative;
    padding-left: 22px;
}

.header-top-location-desc::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url("../images/page_1/header/location.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 15px;
}

.header-top-clock-desc{
    position: relative;
    padding-left: 23px;
}

.header-top-clock-desc::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url("../images/page_1/header/clock.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 17px;
}

.header-top-whatsupp-desc{
    position: relative;
    padding-left: 27px;
}

.header-top-whatsupp-desc::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url("../images/page_1/header/whatsUpp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 21px;
    height: 21px;
}

.header-inner-main{
    padding: 30px 0 30px;
}

.header-main-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-sidebar-link{
    margin-right: 20px;
}
.header-main-advertisement{
    max-width: 170px;
    margin-left: 23px;
    margin-right: 29px;
}

.header-main-logo-container {
    max-width: 198px;
    padding-right: 21px;
    display: block;
    position: relative;
}

.header-main-logo-container:after{
    content: '';
    position: absolute;
    background-color: #C2C2C4;
    width: 1px;
    height: 35px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0
}


.header-main-advertisement-time{
    color: #fff;
    padding: 0 4px;
    background-color: red;
    border-radius: 10px;
}

.header-main-navigation-list{
    display: flex;
    gap: 16px;
}

.header-main-navigation-item{
    font-size: 14px;
}

.header-main-connection{
    display: flex;
    gap: 20px;
}

.header-main-connection-tel{
    display: flex;
    gap: 12px;
}

.header-main-connection-tel-numbers{
    display: flex;
    flex-wrap: wrap;
    max-width: 213px;
}

.header-main-connection-tel-numbers-first{
    font-size: 24px;
    font-weight: 700;
}

.header-main-connection-btn{
    border: none;
    background-color: #CA0100;
    border-radius: 6px;
    padding: 16px 28px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}