.specialOffersHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.specialOffersSLiderBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.specialOffersCard{
    background-color: #EFF0F0;
    border-radius: 25px;
    width: 447px;
    height: 196px;
    position: relative;
}

.specialOffersCard:after{
    position: absolute;
    content: '';
    width: 447px;
    height: 196px;
    background-image: url("../../../../images/page_1/main/offerImg1.png");
    background-repeat: no-repeat;
    left: 113px;
}

.specialOffersCard2{
    background-color: #EFF0F0;
    border-radius: 25px;
    width: 447px;
    height: 196px;
    position: relative;
}

.specialOffersCard3{
    background-color: #EFF0F0;
    border-radius: 25px;
    width: 447px;
    height: 196px;
    position: relative;
}

.specialOffersCard2:after{
    position: absolute;
    content: '';
    width: 447px;
    height: 196px;
    background-image: url("../../../../images/page_1/main/offerImg2.png");
    background-repeat: no-repeat;
    left: 113px;
}

.specialOffersCard3:after{
    position: absolute;
    content: '';
    width: 447px;
    height: 196px;
    background-image: url("../../../../images/page_1/main/offerImg3.png");
    background-repeat: no-repeat;
    left: 113px;
}

.specialOffersCard,
.specialOffersCard2,
.specialOffersCard3{
    box-sizing: content-box;
    padding-top: 10px;
}
